*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
   background-image: url(./img/mapa.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw; /*largura da tela*/
    height: 100vh; /*altura da tela*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #000000f2;
    width: 450px;
    border-radius: 25px;
    padding: 20px;
}

.input-text{
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
   background-color: #ffffff1a;
   border-radius: 15px;
   color: #ffffff;
   font-size: 20px;
   padding: 10px;
}

.idioma{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #ffffff1a;
    color: #ffffff;

}

.idioma option{
    background-color: #0000001a;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffffff1a;
}

button:hover{
    padding: 13px;
    transition: .3s;
}
.control{
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 10px;

}

.resultado{
    border-radius: 20px;
    background-color: #ffffff1a;
    padding: 20px;
    color: #ffffff
}


.title-translate{
    color: #ffffff99;
    margin-bottom: 10px;
    font-size: 14px;
}

.tradução{
    font-size: 18px;
}

